.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-top: 2rem;
    z-index: -2;
    /* border: 2px solid red; */
}
.card{
    margin: 20px;
    /* border: 2px solid ; */
    padding: 20px;
    cursor: pointer;
}
.card-img{
    width: 10rem;
    margin-bottom: 1rem;
}
.card-title{
    margin-bottom: 1rem;
}
.card-reviews{
    display: flex;
    margin-bottom: 1rem;
}
.ratings-star{
    color: #d5ab55;
}
.total-revies{
    font-size: 0.9rem;
    margin-left: 10px;
}
.card-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bag-icon{
    color: #535353;
}
