* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(28, 28, 35);
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border: 2px solid white;
    width: 120px;
    height: 100px;
    text-transform: capitalize;
}
.content-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.purple {
    background-color: purple;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.teal {
    background-color: teal;
}