body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

#emoji {
    font-size: 10rem;
    filter: grayscale(1);
    cursor: pointer;
    transition: transform 300ms ease, filter 300ms ease;
}

#emoji:hover {
    transform: scale(1.3);
    filter: grayscale(0);
}