* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(107, 181, 32);
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
}

h1{
    border: 2px solid black;
    padding: 20px;
    font-family: sans-serif;
}